@charset "UTF-8";
body {
-webkit-text-size-adjust: 100%;
font-size:90%;
line-height: 180%;
padding:0px;
margin:0px;
background:#f7fcfe;
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
p{
text-indent: 1em;
}
dl{
margin:10px 0px;
padding: 0px;
}
dt {
font-weight:bold;
margin:10px 0px 0px 0px;
}
dd{
margin:0px 0px 10px 0px;
padding:0px 0px 0px 2em;
}
h1{ /*サイトタイトル専用 */
max-width:720px;
padding:0px;
margin:0px auto;
text-align:center;
font-size: 150%;
line-height: 160%;
font-weight:bold;
}
h2{/*記事の見出し用*/
width: 100%;
padding: 0px;
margin: 5px auto 5px;
text-align: left;
font-size: 140%;
line-height: 145%;
font-weight: normal;
color: #a22041; /*真紅*/
}
h3{/*記事内の小見出し用*/
width:100%;
padding:0px;
margin:0px;
text-align:left;
font-size: 110%;
line-height: 120%;
font-weight:bold;
}
h4{/*記事内の小見出し用2*/
width:100%;
padding:0px;
margin:0px;
text-align:left;
font-size: 100%;
line-height: 120%;
font-weight:bold;
}
h4::before{/*記事内の見出し2マーク*/
content:"\2043";
margin-left:0.2em;
margin-right:1.3em;
}
figure{
margin:0px;
padding:0px;
}
a, a:visited, a:hover{/*a要素と訪問済み、マウスオーバー時の設定*/
text-decoration:none;
color:#19448e;
}
a:hover{/*a要素の設定マウスオーバー時*/
text-decoration:underline;/*テキストデコレーションを上書き*/
background:#eaf4fc;/*月白*/
}
code{/*code要素の設定*/
width: 90%;
background-color: #000000;/*nyuhakushyoku*/
color:#ffffff;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 5%;
padding: 5px;
line-height: 120%;
font-size: 110%;
font-family: monospace; 
display: block;
white-space:pre-wrap;
word-break:break-all;
word-wrap:break-word;
}
/*id*/
header#main-header{ /*基本の設定 ページ全体のヘッダー用*/
background-color: #2f5d50;
color:#ffffff;
width: 100%;
margin:0px;
text-align: left;
padding: 20px 0px 20px;
}
footer#main-footer{ /*基本の設定 ページ全体のフッター用*/
background-color: #2f5d50;
color:#ffffff;
width: 100%;
margin:0px;
text-align: center;
padding: 5px 0px 5px;
}
footer#main-footer a, footer#main-footer a:visited, footer#main-footer a:hover{/*ページ全体のフッターの中のリストの中のa要素、訪問済み、マウスオーバーの設定*/
text-decoration:none;
color:#ffffff;
}
footer#main-footer a:hover{/*ページ全体のフッターの中のリストの中のa要素の設定 マウスオーバー時*/
text-decoration:underline;
background-color:transparent;
}
ul#sitemap{/*ulサイトマップ用*/
margin:10px auto 10px;
padding:10px auto 10px;
max-width:640px;
text-align:left;
}
h1 a, h1 a:visited, h1:hover{/*タイトルのa要素の設定*/
text-decoration:none;
color:#ffffff;
}
h1 a:hover{/*タイトルのa要素の設定 マウスオーバー時*/
color:#ea5506; /*赤橙*/
background-color:transparent;
}
ol.breadcrumb {/*パンくずリスト*/
margin:10px auto 10px;
padding:0px auto 0px;
max-width:720px;
}
ol.breadcrumb li{/*パンくずリスト*/
display:inline;
list-style-type:none;
word-wrap:break-word;
}
ol.breadcrumb li::before{/*パンくずリスト*/
content:"\00BB";
margin-left:1em;
margin-right:1em;
}
ol.breadcrumb li:first-child::before{/*パンくずリスト*/
content:none;
}
ol.breadcrumb li a, ol.breadcrumb li a:visited, ol.breadcroumb li a:hover{
color:#a8bf93;
text-decoration:none;
}
ol.breadcrumb li a:hover{
color:#ffffff;
background-color:transparent;
}
main{/*記事単位を表す*/
    color: #000000;
    max-width: 640px;
    width: 98%;
    padding: 5px 0px 0px;
    margin: 30px auto 30px;
    text-align: left;
    background-color:#ffffff;
}
header#article-header{
    width:96%;
    padding:0px 0px 0px 10px;
    margin: 0px auto 10px;
    text-align: left;
    background-color:#f8fbf8;/*白磁*/
    border-left: solid 3px #a22041; /*真紅*/
    border-bottom: solid 1px #a22041; /*真紅*/
}
#date{
width: 100%;
margin: 0 auto;
text-align: left;
font-size: 85%;
line-height: 119%;
}
#article-main{
width: 96%;
padding:0% 2% 0%;
margin: 0;
text-align: left;
font-size: 100%;
line-height: 180%;
}
footer#article-footer{
width:96%;
padding:0px 5px 0px 0px;
margin: 10px auto;
text-align: right;
font-size: 90%;
line-height: 126%;
}
#article-main img{/*記事内の画像の設定*/
display: block;
width: 90%;
height: auto;
margin:0px auto;
}
div#sitemap{
margin: 0px;
padding: 10px auto 10px;
text-align:left;
}
div#icon-region{
margin: 0px;
padding: 10px auto 10px;
}
div#copyright{
margin: 0px;
padding: 10px auto 10px;
}
/*class*/
img.icon-img{/*下部のアイコン*/
width:32px;
height:32px;}
ul.booklist{/*読んだ本のリスト用*/
list-style-type:none;
}
div.prompt{/*promptを表すdiv要素の設定 未完成*/
width: 90%;
background-color: #000000;
color:#ffffff;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 5%;
padding: 5px;
line-height: 120%;
font-size: 110%;
font-family: monospace; 
display: block;
white-space:pre-wrap ;
}
table.mytable1{
width: 100%;
margin: 0px;
padding: 0px;
border-top: 1px solid #000000;
border-left: 1px solid #000000;
border-spacing:0px;
}
table.mytable1 tr th, table.mytable1 tr td{
border-bottom: 1px solid #000000;
border-right: 1px solid #000000;
}
table.mytable1 tr th{
background-color: #f8fbf8;
}
.quotation{/*強調用背景色付きエリア設定*/
width: 80%;
font-size: 90%;
line-height: 160%;
background-color: #f0f0f0;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 5%;
padding: 15px;
}
/*スマフォ対策*/
@media screen and (max-width: 640px) {
ol.breadcrumb li{/*パンくずリスト*/
display:block;
list-style-type:none;
word-wrap:break-word;
width:100%;
}
}
